<div class="row">
  <div class="col-md-12">
    <h1 class="event-name">{{ event.name }}</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-7">
    <h3>About</h3>

    Date: {{ event.date }}

    <p>{{ event.about }}</p>

    <div *ngIf="isLoggedIn(); else notLoggedIn">
      <button class="btn btn-success" (click)="registerUser()" *ngIf="user != undefined && !userRegisteredForEvent(); else unRegister">Register</button>

      <ng-template #unRegister>
        <button class="btn btn-warning" (click)="unregisterEvent()">Unregister</button>
      </ng-template>
    </div>

    <ng-template #notLoggedIn>
      <strong>You must be logged in to register for an event.</strong>
    </ng-template>
  </div>
  <div class="col-md-5">
    <h3>Classes</h3>
    <div class="classDiv" *ngFor="let class of event.classes">
      {{ class.className }}
    </div>
  </div>
</div>
