<form #eventForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" class="form-control" required [(ngModel)]="event.name">
  </div>

  <div class="form-group">
    <label for="name">About:</label>
    <input type="text" name="about" id="about" class="form-control" required [(ngModel)]="event.about">
  </div>

  <div class="form-group">
    <label for="name">date:</label>
    <input type="text" name="date" id="date" class="form-control" required [(ngModel)]="event.date">
  </div>

  <div class="form-group">
    <label for="name">slug:</label>
    <input type="text" name="slug" id="slug" class="form-control" required [(ngModel)]="event.slug">
  </div>

  <h3>Classes</h3>

  <div *ngFor="let _class of classes">
    <input type="checkbox" value="{{ _class.slug }}" (click)="addOrRemoveClass(_class)"> {{ _class.className }}
  </div>

  <br/>

  <button type="button" (click)="performAction()" class="btn btn-success">Submit</button>

  <button type="button" (click)="delete()" class="btn btn-danger" style="float:right"
      *ngIf="updateForm">Delete</button>
</form>
