<h1 class="main-header">
  Burlington Hobbies
</h1>
<div class="about-wrapper">
  <div class="col-md-8 offset-md-2 about">
    <h2 class="header">About</h2>
    Burlington Hobbies has been in business since 2012, and has had an RC Race Track
    since 2014. Since opening the track has held
    over 100 events, and hosted over 1,000 racers.
  </div>
</div>

<div class="row about-card-wrapper">
  <div class="col-md-4 about-card">
    <p class="header">Rookie Racers</p>
    <p class="description">Join us every Wednesday for rookie racers and get help
    from our experienced staff, and other drivers. Learn how to setup, tune, and
    drive your vehicle. After some practice we run a race with those who show up.</p>
  </div>
  <div class="col-md-4 about-card">
    <p class="header">Friday Night Racing</p>
    <p class="description">Join us every Friday at 7 for a fun night of racing!
    Club racing is open to the public, and rental are available. Bring what you
    have, any classes with enough drivers will be ran.</p>
  </div>
  <div class="col-md-4 about-card">
    <p class="header">Summer Series</p>
    <p class="description">Join us for our Summer Series starting June 6th! This
    will be a 12 race event where each position gets a certain amount of points.
    The driver with the most amount of points at the end of the series wins.</p>
  </div>
</div>

<div class="row view-events-wrapper">
  <div class="col-md-12">
    <h2 class="call-to-action">Ready to have some fun?</h2>
    <button class="btn btn-large btn-success" routerLink="/events">View Our Events</button>
  </div>
</div>
